@use "sass:string";
@use "bulma/sass/utilities/mixins";

$spaceamounts: (
  0,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  75,
  100
);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }
}

@each $space in $spaceamounts {
  @each $side in $sides {
    @include mixins.touch {
      .m#{string.slice($side, 0, 1)}-#{$space}-mobile {
        margin-#{$side}: #{$space}px !important;
      }

      .p#{string.slice($side, 0, 1)}-#{$space}-mobile {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }

  @include mixins.touch {
    .m-#{$space}-mobile {
      margin: #{$space}px !important;
    }

    .p-#{$space}-mobile {
      padding: #{$space}px !important;
    }
  }
}

.m-auto {
  margin: auto;
}
