<% content_for :title, "Genres" %>

<h1 class="title">Genres</h1>

<% if policy(@genre).create? %>
  <p><%= link_to("Create a new genre", new_genre_path) %></p>
<% end %>

<ul>
  <% @genres.each do |genre| %>
    <li><%= link_to(genre.name, genre_path(genre.id)) %></li>
  <% end %>
</ul>

<%= paginate @genres %>
