<% content_for :title, "Engines" %>
<% content_for :description, "All game engines available on VideoGameList (VGList)." %>

<h1 class="title">Engines</h1>

<% if policy(@engines).create? %>
  <p><%= link_to("Create a new engine", new_engine_path, class: 'button is-fullwidth-mobile') %></p>
<% end %>

<ul>
  <% @engines.each do |engine| %>
    <li><%= link_to(engine.name, engine_path(engine.id)) %></li>
  <% end %>
</ul>

<%= paginate @engines %>
