<% content_for :title, "About" %>

<div class="content is-size-5 has-text-centered column is-two-thirds m-auto">
  <h1 class="title">About vglist</h1>

  <p>vglist helps you track your entire video game library across every store and platform.
  <p>The site is still in a Beta state, so there are still plenty of rough edges. Thank you for bearing with them while I work to build out more of the site! You can follow development by reading the <a href="https://github.com/connorshea/VideoGameList/blob/master/CHANGELOG.md">Changelog</a>.
  <p>If you have feature requests, I'm happy to recieve them (though I can't promise I'll implement them). For now, the best place to request features or to report bugs is <a href="https://github.com/connorshea/VideoGameList/issues">in the GitHub issue tracker</a>. The site is available as an open source project <a href="https://github.com/connorshea/VideoGameList">on GitHub</a>, and anyone that wants to contribute to the project is welcome. It's built with <a href="https://rubyonrails.com">Ruby on Rails</a> and <a href="https://vuejs.org">Vue.js</a>.
  <p>Thank you!
  <p class="has-text-weight-semibold">- <a href="https://vglist.co/users/connor">Connor Shea</a>, creator and maintainer of vglist
</div>
