<% content_for :title, "GraphiQL" %>

<div id="graphiql-injection-point" style="height: 100vh; width: 100vw; margin: 0;"
     data-graphql-schema="<%= render plain: "#{render partial: 'static_pages/graphql_schema' }" %>"
></div>

<script src="<%= asset_pack_path 'graphiql.js' %>" type="application/javascript"></script>

<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>

