.git
node_modules/*
tmp/*
storage/*
log/*
spec/*
vendor/*
public/packs
public/packs-test
config/master.key
coverage
yarn-debug.log
.yarn-integrity
.DS_Store
prod.env
app-visualization.svg
sorbet/rbi/hidden-definitions/errors.txt
