<% content_for :title, "Platforms" %>

<h1 class="title">Platforms</h1>

<% if policy(@platform).create? %>
  <p><%= link_to("Create a new platform", new_platform_path) %></p>
<% end %>

<ul>
  <% @platforms.each do |platform| %>
    <li><%= link_to(platform.name, platform_path(platform.id)) %></li>
  <% end %>
</ul>

<%= paginate @platforms %>
