<% content_for :title, "Platforms" %>
<% content_for :description, "All game platforms available on VideoGameList (VGList)." %>

<h1 class="title">Platforms</h1>

<% if policy(@platforms).create? %>
  <p><%= link_to("Create a new platform", new_platform_path, class: 'button is-fullwidth-mobile') %></p>
<% end %>

<ul>
  <% @platforms.each do |platform| %>
    <li><%= link_to(platform.name, platform_path(platform.id)) %></li>
  <% end %>
</ul>

<%= paginate @platforms %>
