<% content_for :title, "Comparing #{@user1.username} and #{@user2.username}'s game libraries" %>
<% if @user1.avatar.attached? %>
  <%# This technically doesn't give us what we want because it won't be square, but oh well. %>
  <% content_for :opengraph_image, rails_blob_url(@user1.avatar) %>
<% else %>
  <% content_for :opengraph_image, image_url('default-avatar.png') %>
<% end %>

<div data-vue-component="compare-libraries"
  data-vue-props="<%=
    {
      user1: @user1,
      user2: @user2,
      user1LibraryUrl: game_purchases_path(user_id: @user1.id, format: :json),
      user2LibraryUrl: game_purchases_path(user_id: @user2.id, format: :json)
    }.to_json
  %>">
</div>
