<% content_for :title, "Users" %>

<h1 class="title">Users</h1>

<%= inline_svg_pack_tag('media/icons/star.svg', { height: '20px', style: 'fill: red;' }) %>
<%= inline_svg_pack_tag('media/icons/star-half.svg', { height: '20px' }) %>

<div class="user-card-list mt-20">
  <% @users.each do |user| %>
    <%= render 'shared/user_card', user: user %>
  <% end %>
</div>

<%= paginate @users %>
