<% content_for :title, "Users" %>

<h1 class="title">Users</h1>

<%= svg_icon('star', height: 20, fill: 'red') %>
<%= svg_icon('star-half', height: 20) %>

<div class="user-card-list mt-20">
  <% @users.each do |user| %>
    <%= render 'shared/user_card', user: user %>
  <% end %>
</div>

<%= paginate @users %>
