<h1>Congrats you imported</h1>

<% if @result.unmatched.any? %>
  <section>
    <h2>Some games could not be imported</h2>
    <ul>
      <% @result.unmatched.each do |unmatched| %>
        <li><%= unmatched.name %> with id <%= unmatched.steam_id %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<section>
  <h2>Imported games</h2>
  <% @result.added_games.with_attached_cover.includes(:platforms, :publishers, :developers).find_each do |game| %>
    <%= render partial: 'shared/game_card', locals: { game: game } %>
  <% end %>
</section>
