<div class="user-card custom-card">
  <%= link_to(user_path(user.slug), class: 'card-container') do %>
    <figure class="user-avatar">
      <%= user_avatar(user.id, 80) %>
    </figure>
    <div class="card-content">
      <p class="title is-4 mb-5"><%= user.username %></p>
      <% if user.admin? %>
        <p><span class="tag is-primary has-text-weight-semibold">Admin</span>
      <% elsif user.moderator? %>
        <p><span class="tag is-primary has-text-weight-semibold">Moderator</span>
      <% end %>
      <% if user.private_account? %>
        <p><span class="tag is-light has-text-weight-semibold">Private</span>
      <% end %>
    </div>
  <% end %>
</div>
