<% content_for :title, "Connections Settings" %>

<div class="columns">
  <div class="column is-2-desktop">
    <div class="box">
      <%= render 'nav' %>
    </div>
  </div>

  <div class="column">
    <h1 class="title">Connections Settings</h1>

    <% if @user.uid.nil? %>
      <%= button_to "Connect your Steam account", user_steam_omniauth_authorize_path, class: 'button' %>
    <% else %>
      <%= link_to "Import Games from Steam", steam_import_user_path(id: @user.id), method: :post, class: 'button' %>
    <% end %>
  </div>
</div>
