<% content_for :title, "Activity" %>
<% content_for :description, "Recent activity on VideoGameList (VGList)." %>

<div class="ml-50 mr-50 mr-0-mobile ml-0-mobile">
  <h1 class="title">Activity</h1>

  <% @events.each do |event| %>
    <% if handleable_event?(event) %>
      <%= render 'shared/event', event: event %>
    <% end %>
  <% end %>

  <%= paginate @events %>
</div>
