<% content_for :title, "Edit #{@game.name}" %>

<h1 class="title">Edit <%= @game.name %></h1>

<div data-vue-component="game-form"
  data-vue-props="<%=
    {
      submitPath: game_url(@game.id),
      railsDirectUploadsPath: rails_direct_uploads_url,
      successPath: game_url(@game.id),
      cancelPath: game_url(@game.id),
      create: false,
      name: @game.name,
      releaseDate: @game.release_date,
      genres: @game.genres,
      engines: @game.engines,
      developers: @game.developers,
      publishers: @game.publishers,
      platforms: @game.platforms,
      series: @game.series,
      steamAppIds: @game.steam_app_ids,
      epicGamesStoreId: @game.epic_games_store_id,
      gogId: @game.gog_id,
      wikidataId: @game.wikidata_id,
      pcgamingwikiId: @game.pcgamingwiki_id,
      mobygamesId: @game.mobygames_id,
      giantbombId: @game.giantbomb_id
    }.to_json
  %>">
</div>
