<% content_for :title, "Games" %>

<h1 class="title">Games</h1>

<% if policy(@games).create? %>
  <p><%= link_to("Create a new game", new_game_path, class: 'button') %></p>
<% end %>

<div class="game-card-list mt-20">
  <% @games.each do |game| %>
    <%= render 'shared/game_card', game: game %>
  <% end %>
</div>

<%= paginate @games %>
