<% content_for :title, "Games" %>

<h1 class="title">Games</h1>

<% if user_signed_in? %>
  <p><%= link_to("Create a new game", new_game_path) %></p>
<% end %>

<ul>
  <% @games.each do |game| %>
    <li><%= link_to(game.name, game_path(game.id)) %></li>
  <% end %>
</ul>

<%= paginate @games %>
