<% content_for :title, "Create a new game" %>

<h1 class="title">Create a new game</h1>

<div data-vue-component="game-form"
  data-vue-props="<%=
    {
      submitPath: games_url,
      railsDirectUploadsPath: rails_direct_uploads_url,
      successPath: games_url,
      cancelPath: games_url,
      create: true,
      name: @name ? @name : '',
      steamAppIds: @steam_app_ids ? @steam_app_ids : []
    }.to_json
  %>"></div>
