<% content_for :title, "Companies" %>
<% content_for :description, "All game developers and publishers available on VideoGameList (VGList)." %>

<h1 class="title">Companies</h1>

<% if user_signed_in? %>
  <p><%= link_to("Create a new company", new_company_path, class: 'button') %></p>
<% end %>

<ul>
  <% @companies.each do |company| %>
    <li><%= link_to(company.name, company_path(company.id)) %></li>
  <% end %>
</ul>

<%= paginate @companies %>
