@use "bulma/sass/utilities/mixins";
@use "bulma/sass/utilities/initial-variables" as iv;

.home-section {
  padding-bottom: 100px;
  display: block;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 375px;
    filter: brightness(var(--home-section-background-brightness));
    display: block;
    background: no-repeat center center / cover var(--home-section-background-color);
  }

  .subtitle {
    color: var(--home-page-subtitle-text);
  }

  .home-logo {
    width: auto;
    height: 60px;
  }

  @include mixins.from(iv.$desktop) {
    .home-logo {
      height: 100px;
    }
  }
}

.section-home-overlap-card {
  margin-top: -60px;
  padding-top: 0;

  @include mixins.touch {
    margin-top: -100px;
  }
}
