<% content_for :title, "Releases" %>

<h1 class="title">Releases</h1>

<% if policy(@releases).create? %>
  <p><%= link_to("Create a new release", new_release_path) %></p>
<% end %>

<ul>
  <% @releases.each do |release| %>
    <li><%= link_to(release.name, release_path(release.id)) %></li>
  <% end %>
</ul>

<%= paginate @releases %>
