<% content_for :title, @release.name %>

<h1><%= @release.name %></h1>
<h3><%= @release.description %></h3>

<ul>
  <li>
    Game: <%= link_to(@release.game.name, game_path(@release.game.id)) %>
  </li>
  <li>
    Platform: <%= link_to(@release.platform.name, platform_path(@release.platform.id)) %>
  </li>
</ul>
