// Change the primary color to something less ugly.
$primary: hsl(204, 86%, 53%);

// Remove hover background color from navbar items.
$navbar-item-hover-background-color: transparent;

$navbar-item-color: #fff;
$navbar-item-hover-color: #fff;
$navbar-burger-hover-color: #fff;
$navbar-burger-color: #fff;
$navbar-background-color: transparent;
$navbar-dropdown-background-color: #fff;
$navbar-dropdown-item-active-color: #fff;
$navbar-dropdown-item-active-background-color: #5178bc;
$navbar-dropdown-item-hover-color: #fff;
$navbar-dropdown-item-hover-background-color: #f9f9fa;
$navbar-dropdown-border-top: 1px solid rgba(0, 0, 0, 0.25);
$navbar-dropdown-arrow: #fff;
$navbar-divider-height: 1px;
$navbar-divider-background-color: hsl(0, 0%, 83%);

// Dropdown stuff
$dropdown-content-arrow: #585858;

// Remove shadows from inputs.
$input-shadow: none;
$input-focus-box-shadow-size: 0;

// Fix Bulma's usage of css variables causing postcss to spam warnings.
// https://github.com/jgthms/bulma/issues/1190#issuecomment-356672849
$variable-columns: false;

$control-height: 2.25em;
$control-padding-vertical: calc(0.375em - 1px);
$control-padding-horizontal: calc(0.625em - 1px);
$button-padding-vertical: calc(0.375em - 1px);
$button-padding-horizontal: 0.75em;

// Revert to the old, better shadow style from Bulma pre-0.8.0.
$panel-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
$box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
$card-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
$dropdown-content-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
