// Change the primary color to something less ugly.
$primary: hsl(204, 86%, 53%);

// Remove the radius and modify padding on notifications so they can be used
// for Rails flashes.
$notification-radius: 0;
$notification-padding: 1.0rem 2.5rem 1.0rem 1.5rem;

// Remove hover background color from navbar items.
$navbar-item-hover-background-color: transparent;

$navbar-item-color: #fff;
$navbar-item-hover-color: #fff;
$navbar-burger-hover-color: #fff;
$navbar-burger-color: #fff;
$navbar-background-color: transparent;
$navbar-dropdown-background-color: #053589;
$navbar-dropdown-item-hover-color: #fff;
$navbar-dropdown-item-hover-background-color: #5178bc;
$navbar-dropdown-border-top: 1px solid rgba(0,0,0,0.25);
$navbar-dropdown-arrow: #fff;
$navbar-divider-height: 1px;

// Dropdown stuff
$dropdown-content-arrow: #585858;

// Remove shadows from inputs.
$input-shadow: none;
$input-focus-box-shadow-size: 0;

// Fix Bulma's usage of css variables causing postcss to spam warnings.
// https://github.com/jgthms/bulma/issues/1190#issuecomment-356672849
$variable-columns: false;
