.home-section {
  padding-bottom: 100px;
  display: block;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 375px;
    filter: brightness(85%);
    display: block;
    // background: no-repeat center center / cover url('../../../assets/images/home-background.jpg') #333;
    background: no-repeat center center / cover #5856d6;
  }

  .subtitle {
    color: #fff;
  }

  .home-logo {
    width: auto;
    height: 60px;
  }

  @include from($desktop) {
    .home-logo {
      height: 100px;
    }
  }
}

.section-home-overlap-card {
  margin-top: -60px;
  padding-top: 0;

  @include touch {
    margin-top: -100px;
  }
}
